// Dark theme overrides
$AU-colordark-foreground-text: #ffffff;
$AU-colordark-foreground-action: #f9f9f9;
$AU-colordark-foreground-focus: #13e241;
$AU-colordark-background: #270E52;

// Light theme overrides
$AU-color-foreground-action: #B20580;
$AU-color-foreground-focus:  #0C8927;


//Main nav, set project specific breakpoint
$AU-main-nav-breakpoint: sm;

// UI-Kit
@import './_auds.scss';

// Reset the body
body {
	padding: 0;
	margin: 0;

	i.fas, 
	i.fal,
	i.far {
		font-style: normal;
	}

	i.far.fa-clipboard-list-check {
		width: 16px;
	}	
}

.health-video__preview {
	max-width: 760px;
	position: relative;
}


.health-video__preview__length--small {
	right: 0;
	bottom: 6px;
	display: inline-block;
	padding: .5rem;
	font-size: .85rem;
	background-color: #000000;
	color: #FFFFFF;
	opacity: 0.75;
	vertical-align: top;
	position: absolute;
}

.svg-inline--fa {
	display: inline-block;
}

.svg-inline--fa.fa-fw svg {
	width: 1.25em;
	font-size: inherit;
	height: 1em;
	overflow: visible;
	vertical-align: -.125em;
	fill: currentColor;
}

.qr-code {
	width: 100%;
	margin-top: 0 !important;
}

//Vimeo 

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
}

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}


// Increase the spacing for au-body elements inside main
main > .au-body {
	@include AU-space( padding, 2unit 0 );

}

main > .banner {

	@include AU-media( sm ) {
		@include AU-space( padding, 4unit 0 );
	}
}

.au-body.au-body--alt.banner.mep1 {

	color: #FFFFFF;
	background: none;
	background-color: transparent;
	background-image: url('../assets/img/mep-banner-1.jpg'); 
	background-size: cover; 
	background-position: left center; 
	min-height: 13em;

}

.au-callout {
	p {
		@include AU-space(margin-bottom, 1unit);

		&:last-of-type {
			@include AU-space(margin-bottom, 0);
		}
	}
}


// Slight grid changes for container fluid
.au-grid .container-fluid {
	@include AU-space( max-width, 80unit );

	@include AU-media( sm ){
		@include AU-space( padding-left, 2unit );
		@include AU-space( padding-right, 2unit );
	}
}

// Increase spacing between inline list items in footer
.au-footer .au-link-list--inline li {
	@include AU-space( padding-right, 1unit );
}

// The call to actions on the home page
.btn-cta-group {
	@include AU-space( margin-top, 1unit );

	.au-btn {
		@include AU-space( margin-top, 1unit );
	}
}

// Mobile side nav spacing
.au-side-nav {
	@include AU-space( margin-bottom, 2unit );

	@include AU-media( sm ){
		margin-bottom: 0;
	}
}

form {
	@include AU-space( margin-top, 2unit );
}

.hide_content {
	display: none;
}

//increase the space between form groups
.au-form-group + .au-form-group {
	@include AU-space( 'margin-top', 2unit)
}

.articles-cta {
	@include AU-space( 'margin-top', 0.25unit );
	text-align: right;

	@include AU-media( md ) {
		@include AU-space( 'margin-top', 1unit );
	}
}


.au-header {

	.au-search {
		width: 100%;
		@include AU-media( xs ) {
			width: 75%;
		}
		@include AU-media( sm ) {
			width: 100%;
		}
	}

}

.au-header__brand {
	width: 100%;
	
	@include AU-media( sm ) {
		.au-header__brand-image + .au-header__text {
			@include AU-space( margin-left, 90px );
		}
	}
}


.au-card {
	.au-card__inner {
		@include AU-space( padding, 2.5unit);
	}
}

.img-left-sidebar {
	width: 100%;
	display: block;
	margin: 0px auto;

	@include AU-media( sm ) {
		width: 90%;	
	}
}